{{ $params := .Params }}
{{ $paramslen := len $params }}

{{ $delim := " :: "}}

{{ $style := .Get 1 }}
 
<section class="gallery {{ $style }}-width" id="gallery-{{ .Get 0 }}">
{{ range $index, $param := .Params }}
    {{ if not (le $index 1) }}
        {{ $arg := split $param $delim }}
        {{ $src := index $arg 0 }}
        {{ $caption := index $arg 1 }}
        {{ $image := resources.Get $src }}
            
        
            <figure class="item">
                <a href="#image-{{ $index }}">
                    <img src="{{ $image.RelPermalink }}">
                </a>
                {{ if $caption }}
                <figcaption>{{$caption}}</figcaption>
                {{ end }}
            </figure>
    {{ end }}
 
{{ end }}
</section>

<div class="lightboxes">
    {{ range $index, $param := .Params }}
        {{ if not (le $index 1) }}
            {{ $arg := split $param $delim }}
            {{ $src := index $arg 0 }}
            {{ $caption := index $arg 1 }}
            {{ $image := resources.Get $src }}
            {{ $prev := sub $index 1 }}
            {{ $next := add $index 1 }}
            <div class="lightbox" id="image-{{ $index }}">
                {{ if not (le $prev 1)}}
                    <a href="#image-{{ $prev }}" class="prev"><</a>
                {{end}}
                <a href="#" class="close">&times;</a>
                <figure class="content">
                    <img src="{{ $image.RelPermalink }}" />
                    <figcaption>{{$caption}}</figcaption>
                </figure>
                {{ if not (ge $next $paramslen ) }}
                    <a href="#image-{{ $next }}" class="next">></a>
                {{ end }}
            </div>
        {{ end }}
    {{ end }}
</div>