{{ define "main" }}
<h1>{{ .Title }}</h1>
<content class="log">
    
  
    <!-- Setup pagination -->
    {{ $paginator := .Paginate (where site.RegularPages "Section" "log") 3 }}
  
    {{ range $paginator.Pages }}
      <article>
        <h2 class="log-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        {{ .Content }}
      </article>
      <br/>
    {{ else }}
      <article>
        No posts yet
      </article>
    {{ end }}
  
   <!-- Pagination controls -->
    <nav class="pagination">
      {{ if $paginator.HasPrev }}
        <a href="{{ $paginator.Prev.URL }}">↼<small>newer</small></a>
      {{ end }}
  
      {{ if $paginator.HasNext }}
        <a href="{{ $paginator.Next.URL }}" ><small>older</small>⇀</a>
      {{ end }}
    </nav>
  </content>
{{ end }}