/* Based on this guide by Elves Sousa: https://dev.to/elvessousa/lightbox-with-no-javascript-48l4 */

.gallery {
  display: flex;
  max-width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.gallery figure {
  max-width: 600px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0;
}

.gallery.full-width figure {
  max-width: 100%;
}

.gallery a {
  cursor: zoom-in;
  transition: filter 0.2s ease-in-out;
}

.gallery a:hover {
  filter: brightness(90%);
}

.gallery img {
  width: 100%;
}


.lightbox {
  background: rgba(0, 0, 0, 0.8);
  display: none;
  position: fixed;
  z-index: 1000;
}

.lightbox:target {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  right: 0;
  top: 0;
}

.lightbox img {
  display: block;
  margin: auto;
  max-height: 90vh;
  max-width: 90vw;
}

.lightbox .close, .lightbox .next, .lightbox .prev {
  height: 1em;
  position: fixed;
  width: 1em;
  z-index: 1001;
  color: #fff;
  font-size: var(--fluid-3);
  font-weight: bold;
  text-decoration: none;
}

.lightbox .close {
  right: 0;
  top: 0; 
}

.lightbox .prev {
  left: 0;
}

.lightbox .next {
  right: 0;
}


.lightbox figcaption {
  color: #fff;
  font-size: var(--fluid-0);
}