body {
  font-size: var(--fluid-0);
  font-family: var(--font-transitional);
  margin: auto;
  max-width: 1280px;
}

h1, h2, h3, nav {
  font-family: var(--font-monospace-slabserif);
  text-transform: lowercase;

}

a, h1 a, h2 a, h3 a, h4 a, nav a {
  color: canvastext;
}

/* Log list */

h2.log-title {
  font-size: var(--fluid-0);
}

h2.log-title a {
  text-decoration: none;
}

h2.log-title a:hover {
  text-decoration: underline;
}

h2.log-title:before {
  display: inline;
  content: "#";
}

/* Header and menu */

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

nav {
  margin-left: auto;
}
nav ul {
  display: flex;
  list-style-type: none;
  text-transform: lowercase;
}

nav ul li {
  margin-right: var(--fluid-0);
}

header a {
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}