body {
  font-size: var(--fluid-0);
  font-family: var(--font-transitional);
  margin: auto;
  max-width: 1280px;
  padding: 0 1em;
}

h1, h2, h3, nav {
  font-family: var(--font-monospace-slabserif);
  text-transform: lowercase;
}

h3 {
  font-size: var(--fluid-1);
}

h2 {
  font-size: var(--fluid-2);
}

h1 {
  font-size: var(--fluid-3);
}

h1, h2 {
  margin: .3em 0;
}

a, h1 a, h2 a, h3 a, h4 a, nav a {
  color: canvastext;
}

time {
  font-family: var(--font-monospace);
  font-size: var(--fluid--1);
}

/* Header and menu */

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.site-title {
  font-family: var(--font-monospace);
  font-size: var(--fluid-3);
  font-weight: lighter;
  text-transform: lowercase;
}

nav {
  margin-left: auto;
}
nav ul {
  display: flex;
  list-style-type: none;
  text-transform: lowercase;
}

nav ul li {
  margin-right: var(--fluid-0);
}

header a {
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

/* Log list */

h2.log-title {
  font-size: var(--fluid-0);
}

h2.log-title a {
  text-decoration: none;
}

h2.log-title a:hover {
  text-decoration: underline;
}

h2.log-title:before {
  display: inline;
  content: "#";
}

content.log {
  display: block;
  max-width: 720px;
  margin: auto;
  text-align: justify;
  font-family: var(--font-monospace-slabserif);
}

/* Stories list */

content.stories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
}

content.stories article {
  max-width: 400px;
  margin-bottom: 1em;
}

content.stories h2 {
  font-size: var(--fluid-0);
}

figure.featured-image {
  padding: 0;
  margin: 0;
}
.featured-image img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

